@mixin flex($direction: column, $justify: unset, $align: unset, $gap: unset) {
    display: flex;
    flex-direction: $direction;
    @if $justify != unset {
        justify-content: $justify;
    }
    @if $align != unset {
        align-items: $align;
    }
    @if $gap != unset {
        gap: $gap;
    }
}
@mixin grid($columns: unset, $rows: unset, $gap: unset) {
    display: grid;
    @if $columns != unset {
        grid-template-columns: $columns;
    }
    @if $rows != unset {
        grid-template-columns: $columns;
    }
    @if $gap != unset {
        gap: $gap;
    }
}