$bg_primary: rgb(238, 238, 238);
$bg_secondary: rgb(218, 225, 233);
$bg_tertiary: rgb(217, 231, 245);

$text_color: black;
$invalid: red;

$btn_add: rgb(158, 219, 158);
$btn_see_all: rgb(241, 238, 191);