<table class="invests-list" [ngClass]="{'header-invests-list': name === 'threeCol', 'finances-invests-list': name === 'twoCol'}">
    <thead>
        <tr>
            <ng-template ngFor let-item [ngForOf]="head">
                <th> {{item}} </th>
            </ng-template>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="arrayData">
            <tr>
                <ng-template ngFor let-item [ngForOf]="data">
                    <td *ngIf="!isDate(item) && !isInteger(item)"> {{item}} </td>
                    <td *ngIf="isInteger(item)"> ${{item}} </td>
                    <td *ngIf="isDate(item)"> {{item | date: 'MM-dd-yyyy'}} </td>
                </ng-template>
            </tr>
        </ng-template>
    </tbody>
</table>