/* You can add global styles to this file, and also import other style files */

@import '/src/assets/scss/variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; background: $bg_primary;}
* {font-family: Roboto, "Helvetica Neue", sans-serif;}
a { color: $text_color; text-decoration: none; }
ul { padding: 0; list-style: none; }
button {border: none; &:hover{ cursor: pointer; filter: brightness(97%); } &:active{ filter: brightness(94%); }}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }