<div class="container">
    <header>
        <h1>Manage your investments</h1>
        <mat-card>
            <mat-card-content>
                <h2>Investments overview</h2>
                <div class="card-core card-overview">
                    <div class="last-investments card-col">
                        <h3>Your last investments</h3>
                        <app-table name="lastInvestments" [arrayData]="lastInvestments"></app-table>
                    </div>
                    <div class="card-col">
                        <h4>Recently, you invested : ${{totalLastInvesments}}</h4>
                        <app-chart type="line" name="Investments Overview" [data]="lastInvestments"></app-chart>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </header>
    <main>
        <ng-template ngFor let-card [ngForOf]="cards">
            <mat-card>
                <mat-card-header>
                    <div class="card-actions">
                        <button [class]="'btn-add ' + card.chartName" (click)="addInvestment(card.chartName)">Add Investment</button>
                        <button [class]="'btn-see-all ' + card.chartName">See all Investments</button>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="card-title">
                        <h3>{{card.chartName}} investments overview</h3>
                    </div>
                    <div class="card-core">
                        <div class="card-col">
                            <app-chart [name]="card.chartName" [type]="card.chartType" [data]="card.chartData" [xaxis]="card.chartXaxis ? card.chartXaxis : false" [yaxis]="card.chartYaxis ? card.chartYaxis : false"></app-chart>
                        </div>
                        <div class="card-col">
                            <div>
                                <h3>Total invested : ${{card.total}}</h3>
                            </div>
                            <app-table name="dahsboardInvestments" [arrayData]="card.chartData"></app-table>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </main>
</div>