<div class="container">
    <header>
        <h1>Manage your investments</h1>
    </header>
    <main>
        <mat-card>
            <mat-card-content>
                <app-chart name="testpie" type="pie" title="Financial investments overview"></app-chart>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ut rerum eveniet praesentium dicta. Ad quod molestias sed ut. Laboriosam dolores nostrum cumque ullam esse ea voluptatum libero dolorum sint.</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <app-chart name="testcolumns" type="column" title="Real estates investments overview"></app-chart>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore rerum exercitationem recusandae, explicabo voluptatibus error soluta optio nulla corrupti ex vel debitis! Reiciendis modi dolorum ipsum qui soluta laudantium eos.</p>
            </mat-card-content>
        </mat-card>
    </main>
</div>