@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';
mat-dialog-content {
    min-width: 40vw;
}
form, .form-core .col {
    @include flex();
}
.form-core {
    @include grid(
        $columns: 1fr 1fr,
        $gap: 20px
    );
}
.char-countdown {
    font-size: 0.75rem;
}
.invalid {
    color: lighten($invalid, 25);
}